body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  margin: auto;
  width: 80%;
}

h1, h2, h3{
  text-align: center;
}

ul{
  display: flex;
  justify-content: space-evenly;
}

li{
  list-style: none;
  display: inline;
  margin: 2em;
}

.creature{
  width: 30%;
  margin: auto;
  text-align: center;
}

.creature img{
  max-width: 400px;
}

.song{
  max-width: 50%;
  margin: auto;
  text-align: center;
}
